<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="Tech Interns">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>The Buddy System - Sign Up</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/my-login.css">
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="img/avatar.png">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Sign up</h4>
							<form action="" method="POST">
							 
								<div class="form-group">
									<!-- <label for="firstName">First Name</label>
									<input id="name" type="text" class="form-control" name="firstName" required autofocus> -->
									{{ form.firstName.label}}
									{{ form.firstName(class="form-control", autofocus=true)}}
								</div>

								<div class="form-group">
									<!-- <label for="lastName">Last Name</label>
									<input id="name" type="text" class="form-control" name="lastName" required autofocus> -->
									{{ form.lastName.label}}
									{{ form.lastName(class="form-control", autofocus=true)}}
								</div>

								<div class="form-group">
									<!-- <label for="email">Work E-mail Address</label>
									<input id="email" type="email" class="form-control" name="email" required> -->
									{{ form.email.label}}
									{{ form.email(class="form-control")}}
								</div>

								<div class="form-group">
									<!-- <label for="password">Password</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye> -->
									{{ form.password.label }}
									{{ form.password(class="form-control", id="password", **{'data-eye':'true'}) }}
								</div>

								<div class="form-group">
									<!-- <label for="confirmPassword">Confirm Password</label>
									<input id="confirmPassword" type="password" class="form-control" name="confirmPassword" required data-eye> -->
									{{ form.confirmPassword.label }}
									{{ form.confirmPassword(class="form-control", **{'data-eye':'true'}) }}
								</div>

								<div class="form-group">
									<!-- <label for="contactNumber">Contact Number</label>
									<input id="contactNumber" type="tel" class="form-control" name="contactNumber" required autofocus> -->
									{{ form.contactNumber.label}}
									{{ form.contactNumber(class="form-control")}}
								</div>

								<div class="form-group">
									<!-- <label for="gender">Gender</label>
									 <select required>
										<option value="female">Female</option>
										<option value="male">Male</option>									
									  </select> -->
									  {{ form.gender.label }}
									  {{ form.gender(class="form-control")}}
									</div>

								<div class="form-group">
									<!-- <label for="street">Home Address</label>
									<input id="street" type="text" class="form-control" name="street" required autofocus> -->
									{{ form.street.label}}
									{{ form.street(class="form-control", autofocus="true")}}
								</div>

								<div class="form-group">
									<!-- <label for="city">City</label>
									<input id="city" type="text" class="form-control" name="city" required autofocus> -->
									{{ form.city.label}}
									{{ form.city(class="form-control", autofocus="true")}}
								</div>

								<div class="form-group">
									<!-- <label for="state">State</label>
									<input id="state" type="text" class="form-control" name="state" required autofocus> -->
									{{ form.state.label}}
									{{ form.state(class="form-control", autofocus="true")}}
								</div>

								<div class="form-group">
									<!-- <label for="work">Work Location</label>
									  <select required>
										<option value="ballDrive">Ball Drive</option>
										<option value="riderTrail">Rider Trail</option>
										  <option value="westPortPlace">West Port Place</option>
									  </select> -->
									{{ form.work.label}}
									{{ form.work(class="form-control")}}
								</div>

								<div class="form-group">
								<!-- <label for="genderPreferred">Gender you would prefer to travel with</label>
      							<select required>
									<option value="both">Both</option>
									<option value="female">Female</option>
  									<option value="male">Male</option>
								  </select> -->
									{{ form.genderPreferred.label}}
									{{ form.genderPreferred(class="form-control")}}
								</div>

								<div class="form-group">
									<!-- <label for="car">Do you have a car?</label>
									  <select required>
										<option value="no" selected>No</option>
										<option value="yes" onselect="visible()">Yes</option>									
									  </select> -->
									{{ form.car.label}}
									{{ form.car(class="form-control", **{"onselect":"this.visible()"}) }}
								</div>
									
								<div class="form-group" id="carDetails">
									<!-- <label for="numberOfSeats">Number of Seats</label>
									<input id="numberOfSeats" type="text" class="form-control" name="numberOfSeats"> -->
									{{ form.numberOfSeats.label}}
									{{ form.numberOfSeats(class="form-control")}}
								</div>

								<div class="form-group" id="carDetails">
									<!-- <label for="mpg">Miles per Gallon</label>
									<input id="mpg" type="text" class="form-control" name="mpg"> -->
									{{ form.mpg.label}}
									{{ form.mpg(class="form-control")}}
								</div>

								<div class="form-group" id="carDetails">
									<!-- <label for="manufacturer">Car Manufacturer</label>
									<input id="manufacturer" type="text" class="form-control" name="manufacturer"> -->
									{{ form.manufacturer.label}}
									{{ form.manufacturer(class="form-control")}}
								</div>

								<div class="form-group" id="carDetails">
									<!-- <label for="model">Car Model</label>
									<input id="model" type="text" class="form-control" name="model"> -->
									{{ form.model.label}}
									{{ form.model(class="form-control")}}
								</div>

								<div class="form-group" id="carDetails">
									<!-- <label for="number">License Plate Number</label>
									<input id="number" type="text" class="form-control" name="number"> -->
									{{ form.number.label}}
									{{ form.number(class="form-control")}}
								</div>				

								<div class="form-group">
									<label>
										<input type="checkbox" name="agree" value="1"> I agree to the <a href="#">Terms and Conditions</a>
									</label>
								</div>

								<div class="form-group no-margin">
									<!-- <button type="submit" class="btn btn-primary btn-block">
										Register
									</button> -->
									{{form.submit(class="btn btn-primary btn-block", style="cursor: pointer;")}}
								</div>
								<div class="margin-top20 text-center" style="color: white;">
									Already have an account? <a href="/login">Login</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2018 Tech Interns
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		function visible(){			
			var x = document.getElementById("carDetails");
			document.getElementsByClassName("form-group").style.display = "block";
			x.style.display = "block";
		}
	</script>

	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/my-login.js"></script>
</body>
</html>